@charset "utf-8";

html, body {
	margin: 0;
	height: 100%;
}

.centered {
	text-align: center;
}

.flex-container {
	display: flex;
	height: 100%;
}

#show {
	height: 100%;
}

#recentlyAddedQ {
	background-color: #FFEFBF;
	flex: 1;
	height: 150em;
}

#addQ {
	background-color: #C4FFD7;
	flex: 1;
	height: 150em;
}

#examDraft {
	background-color: #C0FFF1;
	flex: 1;
	height: 150em;
}

#availableQ {
	background-color: #FFEFC0;
	flex: 1;
	height: 150em;
}

#releaseExamDiv {
	background-color: #F6FFC4;
}

#loginButton {
	color: white;
	background-color:#8F2021;	
}

#logoutButton {
	color: white;
	background-color: #8F2021;
}

table, th, td {
	border: 1px solid #000000;
	border-collapse: collapse;
}